In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [ ]:
# Currently which users are playing which songs with songs name,highest duration, artist name and from which location
%sql Select distinct \
 us.first_name || ' ' || us.last_name as "User Name" \
,sng.title as "Songs Name" \
,cast(sng.year as int) "Year" \
,round(sng.duration,2) as "Duration" \
,art.name as "Artist Name" \
,sp.location as "Location" \
FROM songs sng \
inner join artists art \
on sng.artist_id=art.artist_id \
inner join songplays sp \
on sng.title=sp.song \
or art.name=sp.artist \
or sng.duration=sp.length \
INNER JOIN users us \
on us.user_id=sp.user_id \
order by "Duration" desc;

In [ ]:
# How many users are connected from different parts of world or location
%sql Select distinct \
 sp.location \
,count(distinct us.user_id) as "User Count" \
FROM songplays sp \
INNER JOIN users us \
on us.user_id=sp.user_id \
group by sp.location \
order by "User Count" desc;

In [ ]:
# Which is the highest playing songs
%sql Select distinct \
 sp.song \
,count(distinct sp.song) as "Songs Count" \
FROM songplays sp \
group by sp.song \
order by "Songs Count" desc;

In [ ]:
# How many Male and Female users across location
%sql Select  \
 sp.location \
,sum(case when us.gender='M' then 1 else 0 end) as "Male Count" \
,sum(case when us.gender='F' then 1 else 0 end) as "Female Count" \
FROM songplays sp \
INNER JOIN users us \
on us.user_id=sp.user_id \
group by sp.location \
order by sp.location;